<header class="header-main">
    <div class="header-main-logo">
        <a href="{{ url_for('download') }}">
            <div class="header-main-logo-img"></div>
        </a>
        <nav class="header-main-nav">
            <ul>
                {% for site in sites %}
                <li>
                    <a id="{{ site | replace(' ', '') }}" href="{{ url_for( site | lower | replace(' ', '_') ) }}">{{ site }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>