<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game home page</title>
    <link rel="icon" href="{{ url_for('static', filename='img/flavicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">
</head>
<body>
    {% include "common/nav.html" %}
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>preload("{{ url_for('static', filename='img/icon.ico') }}")</script>
    <script>
        preload("{{ url_for('static', filename='img/flavicon.ico') }}");
    </script>
</body>
</html>